services:
    loki:
        image: grafana/loki:3.6.4
        ports:
            - "3100:3100"
        command: -config.file=/etc/loki/local-config.yaml
        volumes:
            - loki-data:/loki
        networks:
            - heimdall-net

    grafana:
        image: grafana/grafana:12.3.1
        ports:
            - "3000:3000"
        environment:
            - GF_AUTH_ANONYMOUS_ENABLED=true
            - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
        volumes:
            - grafana-data:/var/lib/grafana
            - ./grafana-datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
        networks:
            - heimdall-net
        depends_on:
            - loki

volumes:
    loki-data:
    grafana-data:

networks:
    heimdall-net:
